/* Universal Styles */
html {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 5.375rem; /*To offset for fixed header. */
    overflow: auto;
}

.button {
    border-radius: .5rem;
    background-color: red;
    color: white;
}

/* max-width: 1530; page starts to break; */

/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: #030308;
    border-bottom: solid 1px gray;
    z-index: 2;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
    height: 1.5625rem;
}

header .logo {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.5rem;
    flex: 1;
}

header .logo em {
    color: gray;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    line-height: 1.6;
    color: white;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
}
header .icon {
    width: 1rem;
    margin-left: .75rem;
    border-radius: .375rem;
}

header .button {
    padding: .5rem 1rem;
    line-height: 1.6;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 745px) {
    nav li {
        padding-left: 1.5rem;
    }
}

@media only screen and (max-width: 690px) {
    nav li {
        padding-left: 0.5rem;
    }
    header .button {
        padding: 0rem .5rem .2rem .5rem;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    header .mobile {
        display: none;
    }

    header .content {
        text-align: center;
    }
}

/* Main Body - About Section */
#about {
    display: flex;
    height: 35rem;
    background-image: url("../images/markus-spiske-wCPqpZzufX4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

#about h1 {
    color: white;
    padding-left: 2rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    width: 20%;
}

@media only screen and (max-width: 675px)
{
    #about {
        justify-content: center;
        align-items:last baseline;
        height: 30rem;
        padding-bottom: 7rem;
    }

    #about h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.1;
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 540px) {
    #about {
        height: 30rem;
        padding-bottom: 5rem;
    }
    #about h1 {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 407px) {
    #about h1 {
        font-size: 2.0rem;
    }
}

@media only screen and (max-width: 352) {
    #about {
        padding: 1rem;
    }
    #about h1 {
        font-size: 1.5rem;
    }
}
/* Main Body - Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    height: 41rem;
    padding: 3rem 4rem;
}

#portfolio .port-rowOne {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
}

.port-rowOne h1{
    font-size: 2.5rem;
}
.port-rowTwo {
    display: flex;
    justify-content: space-between;
    flex: 0.5 1 40rem;
    margin-bottom: 0.2rem;
}
.port-rowTwo video {
    width: 50%;
    margin: 0 0.1rem;
    overflow: hidden;
    flex-grow: 2;
}

.port-rowThree {
    display: flex;
    justify-content: space-between;
    flex: 0.5 1 40rem;
}

.port-rowThree video {
    width: 50%;
    margin: 0 0.1rem;
    overflow: hidden;
    flex-grow: 2;
}

@media only screen and (min-width: 1520px) {
    .port-rowOne {
        padding-bottom: 2rem;
    }

    #portfolio {
        justify-content: center;
        height: auto;
    }

    .port-rowTwo {
        width: 100%;
    }
    
    .port-rowThree {
        width: 100;
    }

    #portfolio .port-rowTwo {
        justify-items: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    #portfolio {
        height: auto;
    }
    .port-rowTwo {
        flex-direction: column;
    }

    .port-rowTwo video {
        width: 100%;
    }

    .port-rowThree {
        flex-direction: column;
    }

    .port-rowThree video {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    #portfolio {
        padding: 3rem 1rem;
    }

    #portfolio .port-rowOne {
        display: flex;
        justify-content: center;
        padding-bottom: 0rem;
    }    
}

/* Main Body - Team */
#team {
    display: flex;
    justify-content: space-between;
    min-height: 38rem;
    padding: 2rem 0;
}

.team-header {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 4rem;
}

.team-member {
    flex: 1;
    margin: 0px 0.1rem;
}

.team-member div {
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 2rem 0;
    line-height: 1.6;
    text-align: center;
}

.team-member p {
    display: none;
    text-align: center;
}

.team-member:hover p {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.team-member:hover {
    text-align: center;
    background-color: black;
    background-image: none;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.tris {
    background-image: url("../images/tris_profile_pic.png");
    background-size: cover;
    background-position: center;
}

.max {
    background-image: url("../images/max_profile_pic.png");
    background-size: cover;
    background-position: center;
}

.drake {
    background-image: url("../images/drake_profile_pic.png");
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1300px) {
    .tris {
        background-position-x: right;
    }
}

@media only screen and (max-width: 425px) {
    #team {
        flex-direction: column;
        align-content: space-around;
    }

    #team .team-member {
        min-height: 40rem;
        margin-top: 0.2rem;
    }

    .team-header {
        font-size: 2.5rem;
        text-align: center;
        padding-left: 0;
    }
}
/* Main Body - Contact */
#contact {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
    height: 30rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    line-height: 1.4;
}

.contact-info h1 {
    font-size: 3rem;
    font-weight: bold;
}

.contact-info p {
    font-size: 1.25rem;

}

.contact-info a {
    text-decoration: underline;
}

.contact-info a:hover {
    color: blue;
}

.map {
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.map img {
    display: block;
    max-width: 100%;
    padding-bottom: 2rem;
}

.contact-info, .map {
    flex: 1;
} 

@media only screen and (max-width: 768px) {
    #contact {
        padding: 2rem 2rem;
    }
    .contact-info {
        width: 30%;
    }
    .map {
        width: 70%;
    }
}

@media only screen and (max-width: 425px) {
    #contact {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .contact-info {
        text-align: center;
        margin-bottom: 2rem;
        line-height: 1.1;
        width: 100%;
    }

    .contact-info h1 {
        margin-bottom: 1.5rem;
    }

    .map {
        width: 100%;
    }
}
/* Footer */
footer {  
    background-color: #030308;
    font-size: 0.75rem;
    color: white;
    padding: 0.5rem 2rem;
    text-align: center; /*Text-align used because of footer being in 'block' display.*/
    vertical-align: middle;
}

footer a {
    color: white;
}

footer a:hover {
    color: blue;
}